# Garbage
*/bin
bin
*/obj
obj

# VSCO Configs
.vscode/


# JSON files
Backend-Vehicle-Reservation/appsettings.json
Backend-Vehicle-Reservation/appsettings.Development.json
Backend-Vehicle-Reservation/launchSettings.json
Backend-Vehicle-Reservation/Backend-Vehicle-Reservation.http